{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        ["styled-components", {
            "displayName": true,
            "ssr": true,
            "uglifyPure": false
        }],
        "polished"
    ]
}
